@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erişim Reddedildi</title>
</head>
<body>
    <h1>Erişim Reddedildi!</h1>
    <p>Yalnızca Admin kullanıcıları bu sayfaya erişebilir!</p>
</body>
</html>
